// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$brand-blue: #182130;
$brand-orange: #E27A3F;
$status-red: #BA4545;
$status-green: #6AAD66;
$status-yellow: #E5E18F;
$background-gray: #F0F0F0;
$text-gray: #4D4D4D;
$light-text-gray: #808080;


