// Specific CSS for your home-page
.banner {
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-content {
  text-align: center;
}

#instruction-home {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 30px;
}

.call-to-action {
  margin-top: 60px;
  background-color: #192230;
  padding: 60px;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content-section {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
    h2 {
      flex-grow: 1;
      margin:0px;
    }

    .btn-div {
      display: flex;
      align-items: center;
    }
}

.grid-photos {
    width: 50%;
    float: left;
    padding: 15px;
}

.photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    display: block;
    position: relative;
}


#effect {
    position: absolute;
    text-decoration: underline;
    right: 5%;
    bottom: 15px;
    font-family: 'Oswald';
    color: white;
}
@media screen and (max-width: 700px) {
  .content-section{
    display: block;
  }

}

p{
  font-size: 16px;
  font-weight: 400;
  color: 666666;
}


.carousel {
  width:540px;
  height:300px;
}

.carousel-control {
  width: 5%;
  opacity: 0.8;
  vertical-align: middle;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}

.carousel-inner > .item > img {
  width:540px;
  height:300px;
}

.carousel-home {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons {
  display: inline-block;
}
