// Specific CSS for your home-page
.banner {
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-contet {
  text-align: center;
}

.btn {
  border: 1px outset #1d2735;
  background-color: #182130;
  height:40px;
  width:114px;
  cursor:pointer;
  color: white;
  margin-top: 10px;
}

.btn:hover {
  background-color: #182130;
  color: #d2d6d9;
}
