// Specific CSS for your home-page
.banner {
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-content {
  text-align: center;
}

#instruction-home {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
  margin-top: 30px;
}

.call-to-action {
  margin-top: 60px;
  background-color: #192230;
  padding: 60px;
  position: relative;
  width: 100%;
}

.content-section {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
    h2 {
      margin-left: 80px;
      flex-grow: 1;
      margin-top: 0px;
    }
}

.btn-div {
  margin-right: 200px;
}

.grid-photos {
    width: 50%;
    float: left;
    padding: 15px;
}

.photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    display: block;
    position: relative;
}


#effect {
    position: absolute;
    text-decoration: underline;
    right: 5%;
    bottom: 15px;
    font-family: 'Oswald';
    color: white;
}




