// Specific CSS for your home-page
.banner {
  color: white;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  visibility: inherit;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-content {
  text-align: center;
}

#instruction-home {
  display: flex;
  justify-content: center;
}

#img-publish-home {
  background-image: url(https://use.fontawesome.com/releases/v5.0.9/svgs/solid/home.svg);
  display: flex;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

#img-receive-home {
  background-image: url(https://use.fontawesome.com/releases/v5.0.9/svgs/solid/pencil-alt.svg);
  display: flex;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

#img-build-home {
  background-image: url(https://use.fontawesome.com/releases/v5.0.9/svgs/solid/gavel.svg);
  display: flex;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
