<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>ERROR 403!</h1>
      <h2>You do not have the authorization to do this...</h2>
      <h3>Run you clever boy!</h3>
    </div>
  </div>
</div>
