<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
          <div class="card-location">Paris, FRANCE</div>
        </div>

        <div class="card-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
        </div>
        <div class="card-footer">
          <div class="card-footer-details">
            <p class="card-footer-details-title">Dimension</p>
            <p class="card-footer-details-content">30m2</p>
          </div>
          <div class="card-footer-details">
            <p class="card-footer-details-title">Deadline</p>
            <p class="card-footer-details-content">2 months</p>
          </div>
          <div class="card-footer-details">
            <p class="card-footer-details-title">Budget</p>
            <p class="card-footer-details-content">R$ 20,000</p>
          </div>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
        </div>
        <div class="card-description">
          <p>Reforma do meu banheiro de 6m2</p>
        </div>
        <div class="footer">

        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
        </div>
        <div class="card-description">
          <p>Reforma do meu banheiro de 6m2</p>
        </div>
        <div class="footer">

        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
        </div>
        <div class="card-description">
          <p>Reforma do meu banheiro de 6m2</p>
        </div>
        <div class="footer">

        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
        </div>
        <div class="card-description">
          <p>Reforma do meu banheiro de 6m2</p>
        </div>
        <div class="footer">

        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          <img class="card-roomlogo" src="http://rutistica.com/images/bathroom-logo-12-image-gallery-tub-icon-512x512.jpg">
          <div class="card-category">Banheiro</div>
        </div>
        <div class="card-description">
          <p>Reforma do meu banheiro de 6m2</p>
        </div>
        <div class="footer">

        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>






