<div class="footer-bar">
  <div class="footer-left">
      <div class="footer-item">
        Find us at:
      </div>
      <div class="footer-item">
        <a href="" class="footer-link"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="footer-item">
        <a href="" class="footer-link"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-item">
        <a href="https://github.com/danielbpc2/ArchiPlace" class="footer-link"><i class="fab fa-github"></i></a>
      </div>
  </div>
  <div class="footer-right">
   <%= link_to "About us", about_path, class: "footer-link", style: "font-size: 16px" %>
  </div>
</div>
