  <div class="grid-photos">
    <div class="class photo-one">
      <a href="#" class="photo" style="background-image:url(<%= image %>)">
        <div class="overlay"></div>
        <h2 id="effect">
          <%= title %>
        </h2>
      </a>
    </div>
  </div>
