<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>How it works</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
      <i class="fas fa-home fa-2x"></i>
    </div>
    <h4>Publish</h4>
    <p>Do you want to renovate your room? Publish your project and receive proposals from the best professionals. </p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
      <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
    <h4>Receive proposals</h4>
    <p>Analyze and choose the best proposals according to what you need.</p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
      <i class="fas fa-gavel fa-2x"></i>
    </div>
    <h4>Start your refurbishment</h4>
    <p>Begin your refurbishment with all ArchPlace support!</p>
  </div>
</div>

<div class="call-to-action">
  <span class="content-section">
        <h2>Few steps to your refurbishment</h2>
            <%= link_to "I want a makeover!", new_project_path, class: "btn btn-orange", style: "margin: 10px;" %>
            <%= link_to "I'm a professional", projects_path, class: "btn btn-white" %>
        </div>
      </div>
  </span>
</div>

<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>See for yourself</h2>
  </div>
  <div class="step1 col-xs-12">
    <div id="img-build-home" class="row">
      <p>Lorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum.</p>
    </div>
  </div>
</div>
