<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>How it works</h2>
  </div>

  <div class="step1 col-xs-12 col-lg-4 col-md-4">
    <div id="img-publish-home" class="row">
      <i class="fas fa-home fa-2x"></i>
    </div>
    <h4>Publish</h4>
    <p>Lorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum </p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-receive-home" class="row">
      <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
    <h4>Receive projects</h4>
    <p>Lorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum </p>
  </div>

  <div class="step2 col-xs-12 col-lg-4 col-md-4">
    <div id="img-build-home" class="row">
      <i class="fas fa-gavel fa-2x"></i>
    </div>
    <h4>Start your refurbishment</h4>
    <p>Lorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum </p>
  </div>
</div>

<div class="call-to-action">
  <div class="content-section">
    <h2>Start Now</h2>
    <div class="btn-div">
      <%= link_to "Publish project", new_project_path, class: "btn btn-orange", style: "margin: 10px;" %>
      <%= link_to "Be an architect", projects_path, class: "btn btn-white" %>
    </div>
  </div>
</div>

<div class="container text-center">
  <div id="instruction-home" class="row">
    <h2>See for yourself</h2>
  </div>
  <div class="step1 col-xs-12">
    <div id="img-build-home" class="row">
      <p>Lorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsumLorem ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum ipsum.</p>
    </div>
  </div>
</div>
