  <div class="container">
    <div class="row" id="about-center">
      <div class="col-lg-10" id="about-container">
        <h1 class="text-center">- Our Mission -</h1>
        <p class="text-center">Provide the best app to your refurbishment.</p>
        <h2 class="text-center">About</h2>
        <div class="text-justify">
          <p class="text-center">We are 4 people who are excited to deliver the best projects to our friends and teachers of the most intense bootcamp.</p>


          <h2 class="text-center">Who we are?</h2>

          <div class="quad-team text-center">
            <div class="step1 col-xs-12 col-lg-4 col-md-4">
              <img src='https://avatars0.githubusercontent.com/u/36059398?s=460&v=4' class="avatar-large"/>
              <h4>Daniel Carvalho</h4>
              <p>A lawyer, in my free time I play around in the graphic design area as a hobby (Adove photoshop, after effects, blender, etc...). from the north-east of brazil, all the way from Pernambuco. </p>
            </div>

            <div class="step1 col-xs-12 col-lg-4 col-md-4">
              <img src='https://avatars1.githubusercontent.com/u/11828031?s=460&v=4' class="avatar-large"/>
              <h4>Migue Aguirre</h4>
              <p>Product and communication designer. I've been working for the last three years in project management for digital marketing and eLearning content production.</p>
            </div>
            <div class="step1 col-xs-12 col-lg-4 col-md-4">
              <img src='https://avatars3.githubusercontent.com/u/36278909?s=460&v=4' class="avatar-large"/>
              <h4>Daniel Topper</h4>
              <p>ex-Cdiscount; ex-Loggi; worked during 10 years in e-commerce in France and Brazil. Now looking forward to learning coding in order to launch new projects :) </p>
            </div>
            <div class="step1 col-xs-12 col-lg-4 col-md-4">
              <img src='https://avatars1.githubusercontent.com/u/35389068?s=460&v=4' class="avatar-large"/>
              <h4>Danielle Alvino</h4>
              <p>Lorem ipsum lorem ipsum lorem ipsum, joking. I am now an unemployed, so if you liked this demoday, please get in touch! :)</p>
            </div>

          </div>
          <div class="text-center">
            <h5><a href="https://github.com/danielbpc2/ArchiPlace" target="blank" id="miguelzinho">hire us</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
