<div id="body-min-height">
  <div id = "project-index"></div>
  <div class="row text-center" id="project-index-banner">
    <% if user_signed_in? %>
      <% if current_user.role == "Professional" %>
      <h2>Find the best project to offer your services</h2>
      <% else %>
        <h2>Browse all projects</h2>
      <% end %>
    <% else %>
    <h2>Browse all projects</h2>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.role == "Professional" %>
      <% else %>
        <div class="row" id = "project-index-bar">
          <%= link_to 'Add your own project', new_project_path, class: 'btn btn-orange btn-project-index' %>
        </div>
    <% end %>
  <% else %>
  <div class="row" id = "project-index-bar">
    <%= link_to 'Add your own project', new_project_path, class: 'btn btn-orange btn-project-index' %>
  </div>
  <% end %>
  <div class="container">
    <% @projects.each do |project|  %>
    <%= render "shared/project-card", project: project %>
    <% end %>
  </div>
  <br>
</div>
