<div id = "project-index"></div>
<div class="row" id="project-index-banner">
</div>

<div class="row" id = "project-index-bar">
  <%= link_to 'Create new project', new_project_path, class: 'btn btn-orange btn-project-index' %>
</div>

<div class="container">

  <% @projects.each do |project|  %>
  <%= render "shared/project-card", project: project %>
  <% end %>


  <% @projects.each do |project|  %>
  <%= render "shared/project-card", project: project %>
  <% end %>


</div>

