<div id = "project-index"></div>
<div class="row" id="project-index-banner">
</div>

<div class="row" id = "project-index-bar">
  <%= link_to 'Create new project', new_project_path, class: 'btn btn-orange btn-project-index' %>
</div>

<div class="container">
  <h1 class="text-center"> My projects</h1>
  <hr>
  <% @projects.each do |project|  %>
  <%= render "shared/project-card", project: project %>
  <% end %>

</div>

