
.btn-project-index{
  border: none;
  color: white;
  margin: 10px;
  &:hover{
    color: white;
    background-color: #F79463;
  }
}
.btn-orange {
  background-color: #E27A3F;
  color: white;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
    color: white;
  }
}
.btn-blue {
  background-color: #182130;
  color: white;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
    color: white;
  }
}

.btn-red {
  background-color: $status-red;
  color: white;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
    color: white;
  }
}

.btn-edit {
  background-color: $edit-blue;
  color: white;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
    color: white;
  }
}

.btn-white {
  background-color: #F4F4F4;
  color: #182130;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
  }
}

.btn-home{
  border: 1px outset #1d2735;
  height:40px;
  width:114px;
  cursor:pointer;
  color: white;
  margin-top: 10px;
  &:hover {
    background-color: #182130;
    color: #d2d6d9;
  }
}


