#project-show-image{
  height: 100px;
}

.gallery-post-grid {
  margin:0px;
  list-style: none;
  float: left;
  margin-bottom: 30px;
  display: inline-flex
}


.gallery-item {
  margin-bottom: 15px;
  margin-top: 15px;
  max-height: 150px;

}

