#project-index-banner {
  background-color: #BCBEC0;
  height: 150px;
}

#project-index-bar{
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}
#project-index-grid{
  background-color: #FFF;
}

.test-card{
  background-color: #F0F0F0;
  height: 200px;
  margin: 15px 5px;
}

#project-index{
  background-color: #FFF;
}
