#project-index-banner {
  background-image: url(https://images.unsplash.com/photo-1416339684178-3a239570f315?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65a04c7e91b920857c81143b62307342&auto=format&fit=crop&w=1267&q=80);
  background-size: 1300px 1300px;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  margin: 0px;
}

#project-index-bar{
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 0px;
}
#project-index-grid{
  background-color: #FFF;
}

.test-card{
  background-color: #F0F0F0;
  height: 200px;
  margin: 15px 5px;
}

#project-index{
  background-color: #FFF;
}
