#project-index-banner {
  background-image: url(https://images.unsplash.com/photo-1433840496881-cbd845929862?ixlib=rb-0.3.5&s=bdc0aac1824927521aa64c0b2878aa58&auto=format&fit=crop&w=2550&q=80);
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  margin: 0px;
    h2 {
      color: #f0f0f0;

    }
}

#project-index-bar{
  display: flex;
  justify-content: center;
  background-color: #F0F0F0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 0px;
}
#project-index-grid{
  background-color: #FFF;
}

.test-card{
  background-color: #F0F0F0;
  height: 200px;
  margin: 15px 5px;
}

#project-index{
  background-color: #FFF;
}
