#project-show-left-bar{
  background-color: #DDDDDD;
  color: $text-gray;
  margin-top: 30px;
  padding: 10px;
  h6{
  color: #909090;
  }
}

#project-show-container{
  background-color: white;
  color: $text-gray;
  margin-top: 30px;
}

#project-show-content{
  padding: 30px;
}

#btn-tiny{
  font-size: 12px;
  padding: 4px 4px;
}

#light-title{
}

#project-show-buttons{
  display: flex;
  justify-content: flex-start;
}

.project-thumbnails{


}

